{% extends 'base.html' %}

{% block content %}
    {% if report['warning'] %}
    <div class="alert alert-warning" role="alert">
        {{ report['warning'] }}
    </div>
    {% endif %}
    
    <h1>{{ report['name']}}</h1>
        <ul>
        {% for q in queries %}
        <li> {{ q }} : 
            <a href="{{ url_for('parameterize_query', report=report['report'], query=q) }}">Show Results</a> |
            <a href="{{ url_for('parameterize_query', report=report['report'], query=q, csv=True) }}">Download CSV</a> |
            <a href="{{ url_for('describe_query', report=report['report'], query=q) }}">Show SQL</a>
        </li> 
        {% endfor %}  
        </ul> 
        {% if readme %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#readmeModal">
    README from GitHub
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="readmeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="overflow-x: auto;">
            <div id="readme">
              {{readme|markdown}}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var divs = document.querySelectorAll('table');
    for (var i = 0; i < divs.length; i++) {
      divs[i].classList.add('table');
    }
  </script>
        {% endif %}

{% endblock %}  
